# Estos dos videos superan el límite de 100 MiB de GitHub y requieren Git LFS.
/recursos/juegos-interactivos/cuentos-video/El*cascanueces.mp4 filter=lfs diff=lfs merge=lfs -text
/recursos/juegos-interactivos/cuentos-video/La*bella*y*la*bestia.mp4 filter=lfs diff=lfs merge=lfs -text
